div {
    height: 100px;
    width: 80px;
    /* border-width: 2px;
    border-color: violet;
    border-style: dashed; */
    background-color: red;
    border: 2px solid dashed;
    text-align: center;
}
h1 {
    height: 100px;
    width: 180px;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 800px;
    text-align: center;
    background-color: blue;
}

#div1{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    background-color: violet;
}
#div2{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    background-color: violet;
}
#div3{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    background-color: violet;
}