*{
    padding: 0;
    margin: 0;
}
#navbar{
    color: white;
    height: 60px;
    width: 100%;
    background-color: #0f1111;
}
a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
#Logo{
    color: #f08804;
    font-size: 25px;

}

#SearchButton{
    color: white;
    background-color: #f08804;
}
#content{
    height: 550px;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px   solid black ;
    display: inline-block;
}
#div1{
    background-color: rgba(255,0,0,0.25);
}
#div2{
    background-color: rgba(0, 72, 255, 0.625);
}
#div3{
    background-color: rgba(0, 255, 76, 0.862);
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}